html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    padding: 0rem 1rem;
    margin: 0;
    font-family: "Public Sans", sans-serif;
    font-weight: 300;
    line-height: 1.4;
    font-size: $font-m;
    letter-spacing: normal;
    color: $GrayishBlue;

}

a, a:visited, a:hover {
    text-decoration: none;
}

// flexbox
.flex {
    display: flex;

    &-jc-c {
        justify-content: center;
    }
    &-jc-sb {
        justify-content: space-between;
    }
    &-ai-c {
        align-items: center;
    }
}


// visibility
.hfm {
    //hide for tablets & mobile
    @include breakpoint-down(medium){
        display: none;
    }
}

.hfd {
    //hide for Desktops
    @include breakpoint-up(large){
        display: none;
    }
}