.header {

    &_logo {
        img {
            width: 8.8rem;
            height: 1.6rem;
        }
    }
    &_nav {
        margin: 1rem;
    }
    &_menu {
        >span {
            display: block;
            width: 22px;
            height: 2px;
            background-color: $DarkBlue;
            &:not(:last-child) {
                margin-bottom: 2px;
            }
        }
    }
    &_links {
        a {
            color: $GrayishBlue;
            &:not(:last-child) {
                margin-right: 30px;
            }
        }
    }
}